<div class="container">
  <div id="player-wrapper"></div>
<br>
<br>
<% @dance_videos.each do |video|%>
<div class="col-md-4">
  <div class="yt_video thumbnail">
 <%= image_tag "https://img.youtube.com/vi/#{video.video_id}/mqdefault.jpg", alt: video.song, class: 'yt_preview img-rounded', :"data-uid" => video.video_id %>
  <div class="caption">
                  <h5><%= video.name %> with <%= video.partner%></h5>
                  <p><%=video.song %></p>
                </div>
                </div>
              </div>
            </div>

    <% end %>


