.yt_video {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

  img {
    cursor: pointer;
    width: 100%;
    height: auto;
  }
.col-md-4{
  display:inline-block;
}

.caption{
  display: block;
  font-family: Arial;
  font-size: 20px;
  text-align: center;
}
ul{
  list-style-type: none;
}
li{
  font-family: Arial;
  font-size: 20px;
  text-align: center;
}
a:link{
  color: black;
}
a:visited{
  color: black;
}
h1{
  text-align:center;
  font-family: Arial;
}
